:root {
  /* Default Colour Palette */
  --colour-green-01: #8ea47e;
  --colour-green-02: #708264;
  --colour-green-03: #556d50;
  --colour-green-04: #43563f;
  --colour-orange-01: #ffae27;
  --colour-orange-02: #c0831b;
  --colour-yellow-01: #fef5b3;
  --colour-yellow-02: #ffe135;
  /* Unused - Delete */
  --colour-grey-01: #f8fcec;
  --colour-grey-02: #c2c5b8;
  /* Unused - Delete */
  /* Main Interface Colours */
  --main-colour-background: var(--colour-green-03);
  --main-colour-text: var(--colour-grey-01);
  --main-colour-heading: var(--colour-yellow-01);
  --main-colour-accent: var(--colour-orange-01);
  /* Alternate Interface Colours */
  --alternate-colour-background: var(--colour-green-04);
  --alternate-colour-text: var(--colour-green-03);
  --alternate-colour-heading: var(--colour-green-03);
  /* Background Images */
  --background-pattern: url(/assets/img/background-pattern.svg);
  --background-rings: url(/assets/img/background-rings.svg);
  --background-moon: url(/assets/img/background-moon-800w.png);
  --background-casini: "";
  /* Default Font Stacks */
  --main-font-family: 'Soleil', sans-serif;
  --alternate-font-family: Menlo, monospace;
  --base-text-size: 1em;
  --text-scale-ratio: 1.25;
  /* Defaults for Card Component */
  --card-background: var(--colour-grey-01);
  --card-background-pattern: var(--background-casini);
  --card-heading: var(--alternate-colour-heading);
  --card-text: var(--alternate-colour-text);
  --card-shadow-colour: var(--colour-green-04);
  --card-shadow-size: "0, 12px, 24px";
  /* Defaults for Button Component */
  --button-background: var(--colour-orange-01);
  --button-text: var(--main-colour-text);
  --button-shadow: var(--colour-orange-02);
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--base-text-size);
  font-weight: 400;
  color: var(--main-colour-text);
  background-color: var(--main-colour-background);
  background-image: var(--background-pattern);
  background-position: 0 0;
  background-repeat: repeat;
}

.title {
  text-shadow: 0 12px 12px var(--colour-green-04);
}

.title:after {
  content: attr(data-hex);
  /* Show hexadecimal translation of title */
  position: relative;
  z-index: -1;
  /* Layer underneath regular title text */
  display: block;
  margin-top: -0.25rem;
  /* TODO: clean up magic numbers */
  margin-bottom: 0.25rem;
  /* TODO: clean up magic numbers */
  font-family: var(--alternate-font-family);
  font-size: 0.3rem;
  /* TODO: clean up magic numbers */
  font-weight: 400;
  /* TODO: clean up magic numbers */
  color: var(--colour-orange-01);
}

.container {
  display: block;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -170px;
  right: -175px;
  width: 600px;
  height: 600px;
  background-image: var(--background-rings);
  background-size: 600px;
  background-repeat: no-repeat;
  z-index: -3;
}

.container::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  display: block;
  width: 300px;
  height: 400px;
  background-image: url(/assets/img/background-moon-300w.png);
  background-repeat: no-repeat;
  z-index: -2;
}

.container > * {
  padding: 0 1.5em;
}

.top {
  display: block;
}

.strapline {
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.strapline__callout {
  color: var(--main-colour-heading);
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 6px 12px var(--colour-green-04);
}

.strapline__callout em {
  font-style: normal;
  text-decoration: underline;
}

.nav {
  display: none;
}
