:root {
  /* Default Colour Palette */
  --colour-green-01: #8ea47e;
  --colour-green-02: #708264;
  --colour-green-03: #556d50;
  --colour-green-04: #43563f;

  --colour-orange-01: #ffae27;
  --colour-orange-02: #c0831b;

  --colour-yellow-01: #fef5b3;
  --colour-yellow-02: #ffe135; /* Unused - Delete */

  --colour-grey-01: #f8fcec;
  --colour-grey-02: #c2c5b8; /* Unused - Delete */

  /* Main Interface Colours */
  --main-colour-background: var(--colour-green-03);
  --main-colour-text: var(--colour-grey-01);
  --main-colour-heading: var(--colour-yellow-01);
  --main-colour-accent: var(--colour-orange-01);
  
  /* Alternate Interface Colours */
  --alternate-colour-background: var(--colour-green-04);
  --alternate-colour-text: var(--colour-green-03);
  --alternate-colour-heading: var(--colour-green-03);

  /* Background Images */
  --background-pattern: url(/assets/img/background-pattern.svg);
  --background-rings: url(/assets/img/background-rings.svg);
  --background-moon: url(/assets/img/background-moon-800w.png);
  --background-casini: "";

  /* Default Font Stacks */
  --main-font-family: 'Soleil', sans-serif;
  --alternate-font-family: Menlo, monospace;

  --base-text-size: 1em;
  --text-scale-ratio: 1.25;

  /* Defaults for Card Component */
  --card-background: var(--colour-grey-01);
  --card-background-pattern: var(--background-casini);
  --card-heading: var(--alternate-colour-heading);
  --card-text: var(--alternate-colour-text);
  --card-shadow-colour: var(--colour-green-04);
  --card-shadow-size: "0, 12px, 24px";

  /* Defaults for Button Component */
  --button-background: var(--colour-orange-01);
  --button-text: var(--main-colour-text);
  --button-shadow: var(--colour-orange-02);
}

@import "normalize";



// ===========
// # Universal
// ===========

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--base-text-size);
  font-weight: 400;
  color: var(--main-colour-text);
  background-color: var(--main-colour-background);
  background-image: var(--background-pattern);
  background-position: 0 0;
  background-repeat: repeat;
}



// ============
// # Typography
// ============

.title {
  text-shadow: 0 12px 12px var(--colour-green-04);
}

.title:after {
  content: attr(data-hex); /* Show hexadecimal translation of title */
  position: relative;
  z-index: -1; /* Layer underneath regular title text */
  display: block;
  margin-top: -0.25rem; /* TODO: clean up magic numbers */
  margin-bottom: 0.25rem; /* TODO: clean up magic numbers */
  font-family: var(--alternate-font-family);
  font-size: 0.3rem; /* TODO: clean up magic numbers */
  font-weight: 400; /* TODO: clean up magic numbers */
  color: var(--colour-orange-01);
}



// ========
// # Layout
// ========

.container {
  display: block;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}
.container::before {
  // TODO: Sort out these magic numbers
  // TODO: Setup responsive sizes
  content: "";
  position: absolute;
  top: -170px;
  right: -175px;
  width: 600px;
  height: 600px;
  background-image: var(--background-rings);
  // background-position: -50px -200px;
  background-size: 600px;
  background-repeat: no-repeat;
  z-index: -3;
}
.container::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  display: block;
  width: 300px;
  height: 400px;
  background-image: url(/assets/img/background-moon-300w.png);
  background-repeat: no-repeat;
  z-index: -2;
}

.container > * {
  padding: 0 1.5em;
}

.top {
  display: block;
}

.strapline {
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.strapline__callout {
  color: var(--main-colour-heading);
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 6px 12px var(--colour-green-04);
}

.strapline__callout em {
  font-style: normal;
  text-decoration: underline;
}

.nav {
  // TODO: Style the contents of Navigation; hidden for now
  display: none;
}

